@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%; */
}

body {
    background-image: linear-gradient(to top
    , #1887A8,#4B6C75, #35DBA7);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a8184152;
    width: 600px;
    padding: 12px;
    margin: auto;
}
h1{
    color: #A81842;
    text-align: center;
    text-shadow: 1px 1px 2px #550d2188;
    
    }
    
h2{
    color: #1887A8;
}
p{
    text-align: justify;
}